<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <style>
    body{
        height:1400px;
    }
    @font-face {
        font-family: 'Forte';
        src: url('fonts/Forte.ttf');
    }
    *{
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
    }
    canvas{
        
       /* background-image: url("images/bg.png"); */
       background: black;
      /* -webkit-transform: translateZ(0); */
    }

    </style>
    <body>

<button id="goFS">Go Fullscreen</button>
<script>
  var goFS = document.getElementById("goFS");
  goFS.addEventListener("click", function() {
      document.body.webkitRequestFullScreen();
      this.remove();
  }, false);
</script>
        <script src="js/lib/sound.js"></script>
        <script src="js/lib/fps.js"></script>

        <script>
            window.requireNode = window.require;
            window.require = undefined;
        </script>
        <script data-main="js/main" src="js/lib/RequireJS.js"></script>
    </body>
</html>
